* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

a {
    color: black;
}

.redes {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #942f8f, #e31b4c);
    position: fixed;
    align-items: center;
}

.redes img {
    width: 25px;
    margin-top: 5px;
}

.header {
    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
}

.header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

.header ul a:hover {
    color: #e31b4c;
}


.header .logo {
    float: left;
    display: block;

    padding: 5px 20px;
}

.header .logo img{
    width: 50px;
}
.header .menu {
    clear: both;
    max-height:0;
    transition:max-heigth .2s ease-out;
}

.header .menu-icon {
    padding: 20px 20px;
    position: relative;
    float: right;
    cursor: pointer;
    margin: 15px 0;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block; 
    height: 3px;
    width: 30px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2 ease-out;
    top: 10px;
}

.header .menu-icon .nav-icon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -10px;
}

.header .menu-btn {
    display: none; 
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
   background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 800px){
    .header li {
        float: left;
    }
    .header li a{
        padding: 20px 30px;
    }
    .header .menu{
        clear: none;
        float: right;
        max-height: none;  
    }
    .header .menu-icon{
        display: none;
    }
}

/*BANNER*/

.banner {
    width: 100%;
    height: 500px;
    background-image: url("../img/bg.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner .titulo {
    font-size: 40pt; 
    margin: 100px 0 30px 0;
    text-transform: uppercase;
    text-align: center;

}

.banner p {
    font-size: 12pt; 
    margin-bottom: 30px;
    text-transform: uppercase;
}

.banner a {
    width: 100px;
    padding: 10px 15px;
    background: transparent;
    color: #ffffff;
    text-transform: uppercase; 
    text-decoration: none;
    border-radius: 4px;
    margin: 50px auto;
    border: 2px solid #ffffff;
}

.banner a:hover {
    color: black;
    background: #ffffff;
    border: 2px solid #000000;
}

@media (max-width: 700px) {
    .banner .titulo {
        font-size: 30pt; 
    }
    
 }

/*CONCEITO*/

.conceito {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f0eaea;

}

.texto {
    width: 450px;
    padding-right: 20px;
    margin: auto 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #f0eaea;

}


.texto h2{
    text-transform: uppercase;
    padding: 10px 0;
    text-align: left;
}

.texto p{
    font-family: helvetica;
    font-size: 11pt;
    text-align: justify;
    margin-top: 10px;
}

.texto hr{
    width: 150px;
    height: 5px;
    background: linear-gradient(to right, #942f8f, #e31b4c);
    margin-bottom: 30px;
    border: none;
}

.foto {
    width: 450px;
    height: 300px;
    background: white;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px ;

} 

.foto img {
    width: 450px;                          
    height: 300px;

}

@media (max-width: 812px) {

    .texto {
        width: 335px;
    }

    .foto {
        width: 335px;
        height: 250px;
    }

    .foto img {
        width: 335px;
        height: 250px;

    }
    
 }

 @media (max-width: 480px) {
    .conceito {
        flex-direction: column;
    }

    .texto {
        width: 320px;
        padding-right: 0;
    }

    .foto {
        width: 320px;
        margin-left: 0;
    }

    .foto img {
        width: 320px;                          
        height: 300px;
    
    }
    
    
 }

 @media (max-width: 375px) {
    .conceito {
        flex-direction: column;
    }

    .texto {
        width: 320px;
        padding-right: 0;
    }

    .foto {
        width: 320px;
        margin-left: 0;
    }

    .foto img {
        width: 320px;                          
        height: 300px;
    
    }
    
    
 }




/*RODAPÉ*/
.rodape {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rodape img{
    width: 100px;
    margin: 0 auto;
    padding: 10px
    
}

.rodape h4 {
    text-align: center;
    text-transform: uppercase;
}

.rodape p{
    font-family: helvetica;
    font-size: 11pt;
    text-align: center;
    margin: 20px
}

.coprigth {
    width: 100%;
    background-color: #000000;
}

.coprigth p{
    font-family: helvetica;
    font-size: 11pt;
    text-align: center;
    padding: 5px;
    color: aliceblue;
}